<%= form_for(@photo, url: choose_new_or_edit) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h3><%= @photo.errors.count %>件のエラーがあります。</h3>

      <ul>
        <% @photo.errors.full_messages.each do |msg| %>
        <li class="error-message"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :タイトル %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :本文 %>
  <%= f.text_area :content, class: 'form-control', rows: 5 %>
  <br>
  <%= f.submit "投稿", class: 'btn btn-default btn-block' %>
<% end %>

<p><br><%= link_to "写真一覧へ", photos_path %></p>
